<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset='utf-8' />
    <title>Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}">
</head>

<body>

<div id='map'></div>
<div class="info">
    <div id="content">
        <p>Height: <span></span></p>
        <p>Age: <span></span></p>
        <p>Date: <span></span></p>
        <!--        <p>Postcode: <span id="Postcode"></span></p>-->
        <!--        <p>Population: <span id="Population"></span></p>-->
        <!--        <p>Households: <span id="Households"></span></p>-->
        <!--        <p>Start Date: <span id="Start Date"></span></p>-->
        <!--        <p>End Date: <span id="End Date"></span></p>-->
        <!--        <p>Age: <span id="Age"></span></p>-->
        <!--        <p>Race: <span id="Race"></span></p>-->
        <!--        <p>Reason: <span id="Reason"></span></p>-->
        <!--        <p>Impact: <span id="Impact"></span></p>-->
        <!--        <p>Type: <span id="Type"></span></p>-->
        <!--        <p>Country: <span id="Country"></span></p>-->
        <!--        <p>Previous Profession: <span id="PrevProfession"></span></p>-->
        <!--        <p></p>-->
    </div>
<!--    <div class="buttons">-->
<!--        <button type="button" onclick="currIndex = prevOption(set, currIndex)">Prev</button>-->
<!--        <button type="button" onclick="currIndex = nextOption(set, currIndex)">Next</button>-->
<!--    </div>-->
</div>

<script>
    var map = new mapboxgl.Map({
        container: 'map', // container id
        "style": {
            "version": 8,
            "sources": {
                "osm": {
                    "type": "raster",
                    "tileSize": 256,
                    "tiles": [
                        "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png"
                    ],
                    'attribution':
                        "Map data by <a target=\"_top\" rel=\"noopener\" href=\"http://openstreetmap.org\">OpenStreetMap</a>",
                },
            },
            "layers": [
                {
                    "id": "osm",
                    "type": "raster",
                    "source": "osm"
                }
            ],
        },
        center: [-2.587961,51.45445],
        zoom: 15,
        minZoom: 13
    });
    map.addControl(new mapboxgl.AttributionControl(), 'bottom-left');
</script>
<script th:inline="javascript">


    // function update() {
    //
    //     var params = new URLSearchParams(window.location.search);
    //     params.set('Lon1', map.getBounds()["_sw"]["lng"]);
    //     params.set('Lon2', map.getBounds()["_ne"]["lng"]);
    //     params.set('Lat1', map.getBounds()["_sw"]["lat"]);
    //     params.set('Lat2', map.getBounds()["_ne"]["lat"]);
    //
    //     console.log(map.getBounds()["_sw"]["lng"]);
    //     console.log(map.getBounds()["_ne"]["lng"]);
    //     console.log(map.getBounds()["_sw"]["lat"]);
    //     console.log(map.getBounds()["_ne"]["lat"]);
    //
    //
    //     var xhttp = new XMLHttpRequest();
    //
    //
    //     console.log([[${people.size()}]]);
    //
    //     xhttp.onreadystatechange = function() {
    //
    //         if (this.readyState === 4 && this.status === 200) {
    //
    //             console.log(xhttp.responseText);
    //
    //
    //         }
    //     };
    //     xhttp.open("GET", "/bounds" + "?" + params.toString(), true);
    //     //xhttp.open("GET", window.location.pathname + "?" + params.toString(), true)
    //     xhttp.send();
    //
    //
    //
    // }
    map.on("idle", function() {
        var params = new URLSearchParams(window.location.search);
        params.set('Lon1', map.getBounds()["_sw"]["lng"]);
        params.set('Lon2', map.getBounds()["_ne"]["lng"]);
        params.set('Lat1', map.getBounds()["_sw"]["lat"]);
        params.set('Lat2', map.getBounds()["_ne"]["lat"]);

        console.log(map.getBounds()["_sw"]["lng"]);
        console.log(map.getBounds()["_ne"]["lng"]);
        console.log(map.getBounds()["_sw"]["lat"]);
        console.log(map.getBounds()["_ne"]["lat"]);


        var xhttp = new XMLHttpRequest();




        xhttp.onreadystatechange = function() {


            if (this.readyState === 4 && this.status === 200) {
                var people = JSON.parse(xhttp.responseText);
                draw(people);
                console.log(people);
                console.log(xhttp.responseText);
                //console.log([[${people.size()}]]);

            }
        };
        xhttp.open("GET", "/bounds" + "?" + params.toString(), true);
        //xhttp.open("GET", window.location.pathname + "?" + params.toString(), true)
        xhttp.send();
    });//.on("moveend", update());


    function draw (object){
        object.forEach(function (obj){
            if (map.getSource(obj.id) !== undefined) {
                map.addSource("source_circle_" + obj.id, {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": [{
                            "type": "Feature",
                            "id": obj.id,
                            "geometry": {
                                "type": "Point",
                                "coordinates": [obj.latitude, obj.longitude]
                            }
                        }]
                    }
                });
                map.addLayer({
                    "id": "circle_"+obj.id ,
                    "type": "circle",
                    "source": "source_circle_"+obj.id,
                    "paint": {
                        "circle-radius": {
                            stops: [
                                [0, 0],
                                [20, metersToPixelsAtMaxZoom(100, obj.latitude)]
                            ],
                            base: 2
                        },
                        "circle-color": ["case",
                            ["boolean", ["feature-state", "selected"], false],
                            "#ff5100",
                            ["boolean", ["feature-state", "hovered"], false],
                            "#007bff",
                            "blue"
                        ],
                        "circle-opacity": 1
                    }
                });
            }
        }
    )
    }



</script>

<!--<script type="text/javascript" src="../static/js/main.js" th:src="@{js/main.js}"></script>-->

</body>
</html>
