html {
  height: 100%;
}

body {

  margin: 0;
  padding: 0;
  color: black;
  height: 100%;
  
}
#map {

  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

}
#content {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-evenly;
  width: 100%;
  height: 96%;

}

#content p {
  height: 8%;
  text-align: left;
}

.info{

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: lightblue;
  margin: 10px;
  border: 2px solid black;
  padding: 3px;
  width: 15em;
  z-index: 2;
  border-radius: 20px;

}
.buttons{
  padding: 2px;
}
